.env
*.env
secrets/**


# Added by cargo

/target
/backups/
/src-tauri/target/
/target/
/node_modules/
/web/assets/
/web/fonts/
/src-tauri/icons/
.DS_Store
logs/
/src-tauri/target/
/target/
/node_modules/
/web/assets/
/web/fonts/
/src-tauri/icons/
.githooks/
.DS_Store
logs/
/src-tauri/target/
/target/
/node_modules/
/web/assets/
/web/fonts/
/src-tauri/icons/
.githooks/
.DS_Store
logs/
